body {
    color: white;
    background: rgba(161, 12, 99, 0.952);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(3, 0, 7);
    padding: 20px;
    font-size: 32px;
    color: rgb(242, 244, 247);
}
