body {
    color: rgb(110, 7, 50);
    background: rgba(116, 2, 68, 0.952);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(228, 12, 217);
    padding: 20px;
    font-size: 32px;
    color: rgb(242, 244, 247);
}
